doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include header
    main.content
      block content
    include footer
  script(data-main='/javascripts/main' src='source/requirejs/require.js')
