doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main.content
      block content
    footer
      each item in list
        li: a(href='#' + item.title.toLowerCase().replace(/ /g,'-')) #{item.title}
  script(data-main='/javascripts/main' src='source/requirejs/require.js')
