@import "/stylesheets/settings.css";
@import "/stylesheets/ellipseSettings.css";

body {
    display: flex;
    flex-direction: column;
    min-height: 87vh;
    padding: 50px;
    font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #009688;
}

svg>*:hover {
  fill-opacity: .5;
  stroke-opacity: .5;
}

.diagram {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.content {
    flex: 1 0 auto;
}

.selection {
    pointer-events: none;
}
