<form>
    <p class="heading">Properties (ellipse)</p>
    <div class="row-wrap">
        <p>Position</p>
        <div class="column-controls row-wrap">
            <div class="column-wrap">
                <input type="number" id="cx" name="cx" value="<%= data.cx %>">
                <label for="cx"> x </label>
            </div>
            <div class="column-wrap">
                <input type="number" id="cy" name="cy" value="<%= data.cy %>">
                <label for="cy"> y </label>
            </div>
        </div>
    </div>
    <div class="row-wrap">
        <p>Size</p>
        <div class="column-controls row-wrap">
            <div class="column-wrap">
                <input type="number" id="rx" name="rx" value="<%= data.rx %>">
                <label for="rx"> rx </label>
            </div>
            <div class="column-wrap">
                <input type="number" id="ry" name="ry" value="<%= data.ry %>">
                <label for="ry"> ry </label>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="row-wrap">
            <p> Background </p>
            <input id="fill" type="color" name="fill" value="<%= data.fill %>">
        </div>
    </div>
    <div class="border controls">
        <p>Border</p>
        <div class="row-wrap">
            <label for="stroke"> Color </label>
            <input id="stroke" type="color" name="stroke" value="<%= data.stroke %>">
        </div>
        <div class="row-wrap">
            <label for="stroke-width"> Width </label>
            <input type="number" id="stroke-width" name="stroke-width" value="<%= data['stroke-width'] %>">
        </div>
        <div class="row-wrap">
            <label for="stroke-dasharray"> Style </label>
            <select name="stroke-dasharray">
                <% const { strokes } = data; %>
                <% for (let dashName in strokes) { %>
                    <% const selected = strokes[dashName] === data['stroke-dasharray'] ? 'selected' : ''; %>
                    <option value="<%= strokes[dashName] %>" <%= selected %>>
                        <%= dashName %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>
    <!-- <input type="submit" value="save"> -->
</form>
