<form>
    <p class="heading">Properties (rect)</p>
    <div class="row-wrap">
        <p>Position</p>
        <div class="column-controls row-wrap">
            <div class="column-wrap">
                <input type="number" id="x" name="x" value="<%= data.x %>"/>
                <label for="x"> x </label>
            </div>
            <div class="column-wrap">
                <input type="number" id="y" name="y" value="<%= data.y %>"/>
                <label for="y"> y </label>
            </div>
        </div>
    </div>
    <div class="row-wrap">
        <p>Size</p>
        <div class="column-controls row-wrap">
            <div class="column-wrap">
                <input type="number" id="width" name="width" value="<%= data.width %>">
                <label for="width"> width </label>
            </div>
            <div class="column-wrap">
                <input type="number" id="height" name="height" value="<%= data.height %>"/>
                <label for="height"> height </label>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="row-wrap">
            <p> Background </p>
            <input id="fill" type="color" name="fill" value="<%= data.fill %>"/>
        </div>
    </div>
    <div class="border controls">
        <p>Border</p>
        <div class="row-wrap">
            <label for="stroke"> Color </label>
            <input id="stroke" type="color" name="stroke" value="<%= data.stroke %>"/>
        </div>
        <div class="row-wrap">
            <label for="stroke-width"> Width </label>
            <input type="number" id="stroke-width" name="stroke-width" value="<%= data['stroke-width'] %>"/>
        </div>
        <div class="row-wrap">
            <label for="stroke-dasharray"> Style </label>
            <select name="stroke-dasharray">
                <% const { strokes } = data; %>
                <% for (let dashName in strokes) { %>
                    <% const selected = strokes[dashName] === data['stroke-dasharray'] ? 'selected' : ''; %>
                    <option value="<%= strokes[dashName] %>" <%= selected %>>
                        <%= dashName %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>
</form>
