<div class="leftButtons">
    <button type="button" name="editButton">Edit</button>
    <div class="undoRedo">
        <button type="button" name="undoButton">
            <img style="height: 100%" src="undo.png" alt="undo">
        </button>
        <button type="button" name="redoButton">
            <img style="height: 100%" src="redo.png" alt="redo">
        </button>
    </div>
    <div class="shapeButtons"></div>
</div>
<div class="rightButtons">
    <button type="button" name="saveDiagramButton">Save</button>
    <button type="button" name="cancelChangesButton">Cancel</button>
</div>
